{% extends 'cours.html.twig' %}

{% block main %}
<div class="row">
	<div class="cours">
		<h3> Programmer </h3>
      <p>
        Programmer, c'est créer des programmes (suite d'ordres donnés à l'ordinateur) !
        Un ordinateur sans programme ne sait rien faire. Il existe différents langages qui permettent de programmer un ordinateur, mais le seul directement utilisable par le processeur est le langage machine (suite de 1 et de 0), aussi appelé binaire.
        Aujourd'hui (presque) plus personne ne programme en binaire (trop compliqué).
      </p>
      <p>
        Les informaticiens utilisent des instructions (mots souvent en anglais) en lieu et place de la suite de 0 et de 1.
        Ces instructions, une fois écrites par le programmeur, sont « traduites » en langage machine.
        Un programme spécialisé assure cette traduction. Ce système de traduction s'appellera interpréteur ou
        bien compilateur, suivant la méthode utilisée pour effectuer la traduction.
      </p>
      <p>
        Il existe 2 grandes familles de langages de programmation :
      </p>
      <ul>
        <li>Les langages de bas niveau sont très complexes à utiliser, car très éloignés du langage naturel,
        on dit que ce sont des langages « proches de la machine », en contrepartie ils permettent de faire des programmes
        très rapides à l'exécution. L'assembleur est le langage de bas niveau.
        Certains "morceaux" de programmes sont écrits en assembleur encore aujourd'hui.</li>
        <li>Les langages de haut niveau sont eux plus « faciles » à utiliser, car plus proches du langage naturel (exemple : si a=3 alors b=c).
        Exemples de langages de haut niveau : C, C++ , java, Qbasic...</li>
      </ul>
      <p>
        Nous allons apprendre les bases de la programmation en utilisant un langage nommé JavaScript (langage de haut niveau).
      </p>
   	</div>
</div>
{% endblock %}